<h1>Dish: <%= @dish.name %></h1>

<p>Description: <%= @dish.description %></p>

<p>Total Calories: <%= @dish.ingredients.total_calories %></p>

<% @dish.ingredients.each do |ingredient| %>
<p>ingredients: <%= ingredient.name %></p>
<% end %>

<p>Chef: <%= @dish.chef.name %></p>
