<div class="dish">
  <h1><%= @dish.name %></h1>
  <p><%= @dish.description %></p>
</div>

<div class="ingredients">
  <h3><%= @dish.name %> Ingredients </h3>
  <% @dish.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</div>

<div class="chef">
  <h3>Created by: <%= @dish.chef.name %></h3>
</div>

<div class="calories">
  <h3>Total Calories: <%= @dish.total_calories =%> </h3>
</div>
