<h1><%= @dish.name  %></h1>
Description: <%= @dish.description %> <br>
Chef: <%= @dish.chef.name %> <br>
Total Calories: <%= @dish.total_calories %>

<section id="ingredients">
<h4>Ingredients:</h5>
<ul>
<% @dish.ingredients.each do |ingredient| %>
   <li>
    <%= ingredient.name %>
   </li>
<% end %>
</ul>
</section>

