<%= @dish.name %>
<%= @dish.description %>
<p>Chef: <%= "#{@dish.chef_name}" %></p>
<p>total calories: <%= "#{@dish.callorie_count}" %> %></p>

<div class="ingredients_list">
  <% @dish.ingredients.each do |ingredient| %>
    <%= "#{ingredient.name}" %>
  <% end %>
</div>
